*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(bg.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 100px;
    cursor: pointer;
}
.navbar ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: #e64d1e;
    bottom: -10px;
    left: 0;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 80px;
    color: #fff;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    font-size: 16px;
    line-height: 25px;
}
button{
    position: relative;
    width: 200px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    color: #fff;
    background: transparent;
    margin: 20px 10px;
    border-radius: 35px;
    border: 2px solid #e64d1e;
    cursor: pointer;
    overflow: hidden;
}
button:hover{
    border: none;
}
span{
    position: absolute;
    width: 0;
    height: 100%;
    background: #e64d1e;
    border-radius: 35px;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow-x: hidden;
}
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExYjRra20yd3NhemwzcDk4ZHNoOHU3anlhdHdnMXYyZXB4dDMzbWdhbCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/zKbUtzLYTrFyXWeaHv/giphy.gif') no-repeat center center fixed; 
    background-size: cover;
    opacity: 1;
    z-index: -1;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75));
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 100px;
    cursor: pointer;
}
.navbar ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: #165aee;
    bottom: -10px;
    left: 0;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 80px;
    color: #fff;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    font-size: 16px;
    line-height: 25px;
}
button{
    position: relative;
    width: 200px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    color: #fff;
    background: transparent;
    margin: 20px 10px;
    border-radius: 35px;
    border: 2px solid #165aee;
    cursor: pointer;
    overflow: hidden;
}
button:hover{
    border: none;
}
span{
    position: absolute;
    width: 0;
    height: 100%;
    background: #165aee;
    border-radius: 35px;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
